.outter-container {
}

.menu a {
  @apply text-bookmark-grayishBlue tracking-widest hover:text-bookmark-softRed;
}

.menu a.loginBtn {
  @apply text-white hover:text-bookmark-softRed;
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

@media screen(lg) {
  .bgHero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-bookmark-softBlue;
  }

  .bgTabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-bookmark-softBlue;
  }
}
