.pageContainer {
  @apply min-h-screen;
  background-image: url("/images/all-project-assets/clipboard/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.section-content {
  @apply max-w-3xl mx-auto leading-9 text-center text-grayishBlue;
}

.sub-title {
  @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}

@media (max-width: 587px) {
  .pageContainer {
    @apply min-h-screen;
    background-image: url("/images/all-project-assets/clipboard/bg-header-mobile.png");
  }
}
